{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <div>Team : <span id="team"></span></div>
    <div>Stage : <span id="stage"></span></div>
    <form action="">
        <button id="add" type="button">ADD</button>
        <button id="remove" type="button">REM</button>
    </form>

    <div><span id="key"></span></div>
    <script>
        const $add = document.getElementById('add');
        const $remove = document.getElementById('remove');
        const $team = document.getElementById('team');
        $team.textContent = '-';
        const $key = document.getElementById('key');
        $key.textContent = '-';
        const $stage = document.getElementById('stage');
        $stage.textContent = '-';

        fetch("{{ path('api_register') }}", {method: "POST"})
            .then(async (response) => {
                const data = await response.json();

                $team.textContent = data.team;
                $key.textContent = data.key;
                document.title = document.title += ' ' + data.team;

                const eventSource = new EventSource(data.game_url);
                window.addEventListener("unload", () => {
                    eventSource.close();
                });

                eventSource.onmessage = e => {
                    const event = JSON.parse(e.data);
                    console.log(event)
                    if (event.stage) {
                        $stage.textContent = event.stage;
                    }
                    if (event.name === 'winner' && event.team === data.team) {
                        $stage.textContent = 'WINNER';
                    }
                    if (event.name === 'visual') {
                        document.getElementsByTagName('body')[0].style = 'background-color:' + event.color;
                    }
                }

                $add.addEventListener('click', async () => {
                    await fetch(data.play_url, {
                        headers: {"Content-Type": "application/json"},
                        method: 'POST',
                        body: JSON.stringify({
                            action: "add",
                            key: data.key
                        })
                    })
                })

                $remove.addEventListener('click', async () => {
                    await fetch(data.play_url, {
                        headers: {"Content-Type": "application/json"},
                        method: 'POST',
                        body: JSON.stringify({
                            action: "remove",
                            key: data.key
                        })
                    })
                })
            });

        if ('wakeLock' in navigator) {
            navigator.wakeLock.request('screen');
        }

    </script>
{% endblock %}
